@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&family=Tauri&family=Tilt+Neon&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --poppins-font: "Poppins";
  --neon-font: "Tilt Neon";
  --reddit-font: "Reddit Mono";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

body {
  background-image: url(assets/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1 {
  font-family: var(--reddit-font);
  font-size: 3rem;
  color: black;
  font-weight: 900;
}

h2 {
  text-decoration: underline;
  font-family: var(--neon-font);
  font-size: 2rem;
}

span {
  font-family: var(--neon-font);
  font-size: 1.35rem;
}

b {
  color: rgb(255, 199, 30);
}

.container {
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 4rem;
  margin-top: 2rem;
}

.progress-container, .item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

.progress-bar, .progress-item {
  border-radius: .25rem;
}

.progress-item {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 1rem;
  width: 100%;
  box-shadow: 5px 5px 5px rgb(142, 132, 132);
}

.progress-item:hover {
  cursor: pointer;
  background-color: rgb(62, 62, 62);
}

.hidden {
  display: none;
}

.item-container {
  border: 1px solid white;
  height: fit-content;
  padding: 1rem;
  background-color: black;
  box-shadow: 10px 5px 5px rgb(142, 132, 132);
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: .5rem;
}

.box span {
  display: inline-block;
  text-align: left;
}

span b {
  margin-left: .5rem;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  span {
    font-size: 0.9rem;
  }
}