* {
  box-sizing: none;
  padding: 0;
  margin: 0;
  color: white;
}

section {
  height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  position: absolute;
  width: 25%;
  left: 38%;
  top: 25%;
  font-size: 3rem;
  text-shadow: 2px 2px 5px red;
  z-index: 1;
}

p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.slides {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 1;
}

.slides .list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slides .slide {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide .background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  will-change: transform;
  background-size: cover;
}

/* .slide .content {
  overflow: hidden;
  width: 95%;
  padding: 3rem;
  margin: 0 auto;
  max-width: 40rem;
  position: relative;
  text-transform: uppercase;
  font-size: 4.6rem;
  line-height: 1.25em;
  font-weight: 500;
} */

.text {
  display: absolute;
  left: 0;
}

.background {
  width: 100%;
  height: 200vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-container {
  position: relative;
  left: 10%;
  z-index: 2;
}

.profile-frame {
  transform: scale(175%);
  position: absolute;
  left: 150px;
  top: 25%;
  z-index: 1;
}

.profile-container div {
  position: absolute;
  top: 30%;
  left: 50px;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.profile-pic {
  transform: scale(70%);
}


.profile-pic2 {
  transform: scale(90%);
  position: absolute;
  top: -20%;
  left: -900px;
  right: 100px;
  z-index: 1;
}

.text-container {
  position: relative;
  top: 0%;
  left: 70%;
  z-index: 2;
}

.text-box {
  display: inline-block;
  position: relative;
  top: 25%;
  right: 100px;
  text-wrap: wrap;
  word-wrap: break-word;
  width: 450px;
  z-index: 1;
}

.text-box .text-frame {
  transform: scale(125%);
  height: 250px;
  position: absolute;
  z-index: 1;
}

.text-box .content {
  overflow: hidden;
  position: relative;
  padding: 1rem;
  z-index: 1;
}

.content h3 {
  font-size: 3rem;
  margin: 1rem 0 1rem 0;
}

.content p {
  font-size: 1.5rem;
  line-height: 1.25em;
}

.scrollElement {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;
  z-index: 0;
}
